#header-img{
    width: 300px;
    }
    
    #header{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    ul{ 
        display:flex;
        flex-direction: row;
    }
    li{
        padding-right: 100px;
        list-style: none;
        font-size: 30px;
    }
    a{
        text-decoration: none;
        color: blue;
    }
<<<<<<< HEAD
     p, h2, iframe, form{
        margin: 18px;
=======
     p, h2, iframe{
        margin: 28px;
>>>>>>> Ayfokir
    } 
    
    @media(max-width:780px){
        header{
            flex-direction: column;
        }
    }
    